<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css" >
        <link rel="stylesheet" href="css/style.css" >

    </head>
    <body>
        <div class="container">
            <div class="jumbotron">Frogner Smart Home</div>

            <h6>RED:</h6>
            <div class="slidecontainer">
                <input type="range" min="1" max="255" value="120" class="slider" id="redSlider">
                <p>Value: <span id="redValue"></span></p>
              </div>

            <h6>BLUE:</h6>
            <div class="slidecontainer">
                <input type="range" min="1" max="255" value="120" class="slider" id="blueSlider">
                <p>Value: <span id="blueValue"></span></p>
             </div>

             <h6>GREEN:</h6>
            <div class="slidecontainer">
                <input type="range" min="1" max="255" value="120" class="slider" id="greenSlider">
                <p>Value: <span id="greenValue"></span></p>
             </div>

            <button onclick="apiCall('/colorChange')">Set Color</button>
            <button onclick="apiCall('/bright')">Bright</button>
            <p id="confirm_setCol"></p>

            <h6>HUE</h6>
            <div class="slidecontainer">
                <input type="range" min="1" max="50000" value="25000" class="slider" id="hueSlider">
                <p>Value: <span id="greenValue"></span></p>
             </div>

        </div>  


        



        <script src="js/script.js"></script>
        <script src="/js/jquery.slim.min.js"></script>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> 
        -->
        <script src="/js/bootstrap.min.js"></script>
    </body>


</html>