.infoContainer {
    margin: 20px;
  }
  
  .lightTable {
    margin: 20px;
  }
  
  .lightContainer {
    
  }

  .lightWrapper {
      display: flex;
      flex-wrap: wrap;
  }
  
  .box1 {
    flex: 1;
    border-style: solid;
  }
  
  .box2 {
    flex: 1;
    border-style: solid;
    display: flex;
  }

  
  .rgb-slider-container {
    flex: 1;
    padding: 20px;
    align-self: center;
    /*width: 40%;*/
    /*float: left;*/
  }
  
  .colorWrapper {
    flex: 1;
    align-self: center;
  }
  
  .colorDisplay {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #000022;
    border-style: solid;
    margin: 0 auto;
    position: relative;
  }
  
  th, td {
    padding: 5px;
    border-style: solid;
    text-align: center;
  }
  
  th {
    background-color: #c7c9c9;
  }