<html>
    <head>    
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <style>
            body, html {
              height: 100%;
              margin: 0;
            }
            
            .bg {
              /* The image used */
              background-image: url("/images/<%=url%>");
            
              /* Full height */
              height: 100%; 
            
              /* Center and scale the image nicely */
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
            </style>
            </head>
            <body>
            
            <div class="bg"></div>


            <script>
                    const sseSource = new EventSource('/digitalFrame/event-stream');
        
                    sseSource.addEventListener('message', (e) => {
                        const messageData = e.data;
                        console.log("From server: " + messageData);
                    });
        
                    // When finished with the source close the connection
                    function closeSSE() {
                        sseSource.close();
                    }
                    
            </script>
    </body>


</html>