<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css" >
        <link rel="stylesheet" href="css/style.css" >
        <link rel="stylesheet" href="css/playground_style.css" >

    </head>
    <body>

            <%- include base.ejs %>

        <div class="container">
            <div class="box">
                <canvas id="myCanvas" width="400" height="200" style="border:1px solid #000000;"></canvas>
            </div>
        </div>

        <script src="/js/playground_script.js"></script>
        <script src="/js/jquery.slim.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>

</html>
