<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css" >
        <link rel="stylesheet" href="css/style.css" >
        <link rel="stylesheet" href="css/playground_style.css" >

    </head>
    <body>

            <%- include base.ejs %>

        <div class="container">
            <div class="box">
                <canvas id="myCanvas" width="400" height="200" style="border:1px solid #000000;"></canvas>
            </div>
        </div>

        <div class="sliderContainer">
            <div class="box">
                <h6>RED:</h6>
                <div class="slidecontainer">
                    <input type="range" min="1" max="255" value="120" class="slider" id="redSlider">
                    <p hidden>Value: <span id="redValue"></span></p>
                </div>

                <h6>GREEN:</h6>
                <div class="slidecontainer">
                    <input type="range" min="1" max="255" value="120" class="slider" id="greenSlider">
                    <p hidden>Value: <span id="greenValue"></span></p>
                </div>

                <h6>BLUE:</h6>
                <div class="slidecontainer">
                    <input type="range" min="1" max="255" value="120" class="slider" id="blueSlider">
                    <p hidden>Value: <span id="blueValue"></span></p>
                </div>
            </div>
        </div>

        <script src="/js/playground_script.js"></script>
        <script src="/js/jquery.slim.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>

</html>
